{% extends "layout.html" %}
{% block content %}
<div id="ajuda-gestao-pedidos" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Ajuda
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Versão 1.0
            </div>
            <div class="modal-footer">
                <div class="container">
                    <div class="btn-toolbar justify-content-between" aria-label="Toolbar with button groups">
                        <button data-bs-dismiss="modal" type="button" class="btn btn-secondary">Fechar</button>
                        <button data-bs-dismiss="modal" type="button" class="btn btn-primary">Entendi</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-3">
    <div class="row">
        <div class="col">
            <div class="card px-3 pb-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <i style="font-size: 3rem" class="bi bi-card-list"></i>
                        <div class="ms-2 c-details">
                            <h6 class="mb-0">Gestão de pedidos</h6><span><a data-bs-toggle="modal" data-bs-target="#ajuda-gestao-pedidos" class="text-decoration-none" href="">Ver ajuda</a></span>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <h3 class="heading">Gerencie os pedidos do seu restaurante ou delivery!</h3>
                    <div class="d-grid mt-4">
                        <a href="{{ url_for('pedidos') }}" class="btn btn-primary">Acessar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="card px-3 pb-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <i style="font-size: 3rem" class="bi bi-person-lines-fill"></i>
                        <div class="ms-2 c-details">
                            <h6 class="mb-0">Painel administrador</h6><span><a data-bs-toggle="modal" data-bs-target="#ajuda-gestao-pedidos" class="text-decoration-none" href="">Ver ajuda</a></span>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <h3 class="heading">Adicione novos itens ao sistema de gestão de pedidos, gere relatórios de vendas, gerencie seus funcionários, entre outras funcionalidades!</h3>
                    <div class="d-grid mt-4">
                        <button class="btn btn-primary">Acessar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}